* {
    margin: 0;
    padding: 0;
}

.body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game-container{
    width: fit-content;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
.square {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    border: solid black 2px;
    width: 150px;
    height: 150px;
}