* {
    margin: 0;
    padding: 0;
}

.body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    padding: 25px;
}

.winner {
    text-decoration: underline;
    color: rgb(163, 165, 21);
    font-weight: 700;
}
.draw {
    text-decoration: underline;
    font-weight: 700;
}
.reset {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    background-color: rgb(83, 83, 110);
    color: aqua;
    font-weight: 700;
    padding: 15px;
    border-radius: 15px;
}

.game-container {
    width: fit-content;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;



}
.square {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    border: solid black 2px;
    width: 150px;
    height: 150px;
}


.animateMarker {
    animation-name: animateMarker;
    animation-duration: 0.45s;
    animation-fill-mode: forwards;
}

@keyframes animateMarker {
    0% {
        font-size: 0;
        opacity: 0.2;
    }
    60% {
        font-size: 5em;
        opacity: 0.7;
    }
    100% {
        font-size: 2em;
        opacity: 1;
    } 
}
